# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
env/
venv/
myenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.h5
*.db

# Ignore OS-specific files
.DS_Store

# Ignore Jupyter Notebook outputs
output/

# Ignore build files
build/
dist/
*.egg-info/

# Ignore logs and temporary files
*.log
*.tmp